.scrollbar-hide::-webkit-scrollbar {
    display: none;
    /* Oculta la barra en navegadores basados en WebKit (Chrome, Safari) */
}

.scrollbar-hide {
    -ms-overflow-style: none;
    /* Oculta la barra en Edge y IE */
    scrollbar-width: none;
    /* Oculta la barra en Firefox */
}